<%= turbo_frame_tag "edit_profile", target: "_top" do%>
  <div data-controller="reveal">
        <button id="button-target" data-action="click->reveal#toggle" type="button" class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border rounded shadow">
            Edit Profile?
        </button>
        <div id="toggle-target" data-reveal-target="item" class="mt-4 hidden">
            <div class="bg-indigo-400 rounded p-4">
                      <h2 class="text-2xl">Edit your profile here!</h2>
                      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                      <%= render "devise/shared/error_messages", resource: resource %>

                      <div class="field m-4">
                        <%= f.label :email, class: "font-bold" %><br />
                        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "rounded" %>
                      </div>

                      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                      <% end %>

                        <div class="field m-4">
                        <%= f.label :avatar, class: "font-bold" %><br />
                        <%= f.file_field :avatar, autofocus: true, autocomplete: "avatar" %>
                      </div>

                      <div class="field m-4">
                        <%= f.label :name, class: "font-bold" %><br />
                        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "rounded" %>
                      </div>

                      <div class="field m-4">
                        <%= f.label :location, class: "font-bold" %><br />
                        <%= f.text_field :location, autofocus: true, autocomplete: "location", class: "rounded" %>
                      </div>

                      <div class="field m-4">
                        <%= f.label :bio, class: "font-bold" %><br />
                        <%= f.text_area :bio, autofocus: true, autocomplete: "bio", class: "rounded" %>
                      </div>

                      <div class="field m-4">
                        <%= f.label :password, class: "font-bold" %> <i>(leave blank if you don't want to change it)</i><br />
                        <%= f.password_field :password, autocomplete: "new-password", class: "rounded" %>
                        <% if @minimum_password_length %>
                          <br />
                          <em><%= @minimum_password_length %> characters minimum</em>
                        <% end %>
                      </div>

                      <div class="field m-4">
                        <%= f.label :password_confirmation, class: "font-bold" %><br />
                        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "rounded" %>
                      </div>

                      <div class="field m-4">
                        <%= f.label :current_password, class: "font-bold" %> <i>(we need your current password to confirm your changes)</i><br />
                        <%= f.password_field :current_password, autocomplete: "current-password", class: "rounded" %>
                      </div>

                      <div class="actions">
                        <%= f.submit "Update", class: "bg-pink-200 hover:bg-pink-300 p-2 rounded-full m-4" %>
                      </div>
                    <% end %>

                    <div class="m-4">
                      <h3 class="text-2xl mb-2">DANGER ZONE</h3>

                      <div><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "bg-red-400 hover:bg-red-500 p-2 rounded-full " %></div>
                    </div>
                    <%= link_to "Back", :back %>

          </div>
        </div>
  </div>
<% end %>





