<div class="m-4 p-4 bg-indigo-400 w-fit rounded">
    <p><%= post.body%></p>
    <p>Posted By: <%= post.user.email%></p>
    <p>Posted On: <%= post.date_format %></p>

    <%= form_with model: [post, @comment] do |form|%>
        <%= form.text_area :content%>
        <%= form.submit 'Submit'%>
    <% end %>
</div>
