<div class="m-4 p-4 bg-indigo-400 flex flex-col content-start rounded md:w-1/2">

    <div class="mb-4">
        <div class="mb-4 flex items-center">
            <%= image_tag post.user.small_thumb, class: "rounded-full"%>
            <p><%= post.user.email%></p>
        </div>
        <p class="my-4 text-sm leading-relaxed"><%= post.body%></p>
        <p class="text-xs font-thin text-black/50"><%= post.date_format %></p>
    </div>

    <div class="flex items-center">
        <%= render "layouts/comment_button", post: post %>
        <%= render partial: "posts/likes", locals: {post:post}%>
    </div>

</div>
